<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="../static/images/favicon.ico"/>

    <title>Data Analytics! | </title>

    <link rel="stylesheet" type="text/css" href="../static/vendors/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/vendors/font-awesome/css/font-awesome.min.css"
          th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/vendors/nprogress/nprogress.css"
          th:href="@{/vendors/nprogress/nprogress.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/vendors/iCheck/skins/flat/green.css"
          th:href="@{/vendors/iCheck/skins/flat/green.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"
          th:href="@{/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/vendors/jqvmap/dist/jqvmap.min.css"
          th:href="@{/vendors/jqvmap/dist/jqvmap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/vendors/bootstrap-daterangepicker/daterangepicker.css"
          th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/build/css/custom.min.css"
          th:href="@{/build/css/custom.min.css}"/>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>

</head>

<style type="text/css">
    body{margin: 0;padding: 0;}
    .Content{
        position: relative;
        width: 934px;height:500px;
    }
    .Kline-div{
        position: absolute;width: 100%;
        bottom: 0;top: 0;
    }
    .Kline-div .m-line{height: 50%;width: 98%;margin-bottom: 1%;}
    .Kline-div .K-line{height: 49%;width: 98%;}
</style>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/toIndex}" class="site_title"><i class="fa fa-paw"></i>
                        <span>Data Analytics!</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">

                    </div>
                    <div class="profile_info">
                        <span>Welcome</span>
                        <h2></h2>
                    </div>
                </div>
                <br/>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a href="http://127.0.0.1:8081/index"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <!--<li><a th:href="@{/toIndex3}">HomeChart2</a></li>-->
                                </ul>
                            </li>
                            <li><a href="http://127.0.0.1:8081/profile"><i class="fa fa-edit"></i> My Portfolio <span
                                    class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a>User Profile</a></li>
                                </ul>
                            </li>

                            <li><a href="http://127.0.0.1:8081/table"><i class="fa fa-table"></i> History Data <span
                                    class="fa fa-chevron-down"></span></a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">

                </div>
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="" alt="">Exit
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a th:href="@{/toProfile}"> Profile</a></li>

                                <li><a href="http://127.0.0.1:8081"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->
    </div>

    <!--page content-->
    <div class="right_col" role="main">

        <!-- top tiles -->
        <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
                <div class="count">1</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-clock-o"></i> Total Stocks</span>
                <div class="count">609</div>
            </div>
        </div>
        <!-- /top tiles -->

        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Charts
                        <small>Stock information</small>
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group" style="padding-right: 50px;">
                            <input id="search-content" type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                      <button id="search-button" class="btn btn-default" type="button">Go!</button>
                    </span>
                        </div>
                        <div class="col-4">
                            <input type="text" name="birthday" class="form-control pull-right" value="3/24/2016">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12" style="width: 975px;height:800px;">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2></h2>
                        </div>
                        <div class="x_content">

                            <p>Select the time slice:</p>
                            <button id="1Min_btn" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip left">1 Min</button>
                            <button id="5Min_btn" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip top">5 Min</button>
                            <button id="30Min_btn" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip bottom">30 Min</button>

                            <div id="mainb" class="Content">
                                <div id="Kline-div" class="Kline-div">
                                    <div id="m-line" class="m-line"></div>
                                    <div id="k-content" class="K-line"></div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--page content-->
</div>

<!--script-->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/tmpData.js" type="text/javascript" charset="utf-8"></script>
<script src="js/k-line.js" type="text/javascript" charset="utf-8"></script>
<script src="js/moment.js"></script>
<script src="js/daterangepicker.js"></script>
<script type="text/javascript">

    var userAccount;
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8081/api/user/getUser",
            dataType: "json",
            async: false,
            success: function(data){
                userAccount = data.account;
                console.log(data);
                console.log(userAccount);
                $("#userAccount").text(userAccount);
                $("#userAccount2").text(userAccount);
            },
            error: function () {
                alert("No User Detected!");
            }

        })

    })





    var mChart = echarts.init(document.getElementById('m-line'));
    //mChart.setOption(initMOption(mdata,'us'));
    var kChart= echarts.init(document.getElementById('k-content'));
    //kChart.setOption(initKOption(kdata));
    function GetRequest() {

        var url = location.search; //获取url中含"?"符后的字串

        var theRequest = new Object();

        if (url.indexOf("?") != -1) {

            var str = url.substr(1);

            strs = str.split("&");

            for(var i = 0; i < strs.length; i ++) {

                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);

            }

        }

        return theRequest;

    }
    var url=location.href;

    //alert(url);
    var request = new Object();
    request = GetRequest();


    var a=request["symbol"];
    if(typeof(a) == 'undefined')
    {
        a="a";
    }

    //alert(a);


    //var a="a";
    var default_date="2016-3-24"
    var test;
    var tr="";
    var slice="1";
    $(function() {
        var myajax=function (){$.ajax({
                type: "GET",
                url: "http://127.0.0.1:8081/api/data/data/1day/" + a,
                data: "",
                dataType: '',
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (msg) {
                    test = msg;
                    //alert(test);

                    var arr = new Array(msg.length); //表格有10行
                    for (var i = 0; i < arr.length; i++) {
                        arr[i] = new Array(10); //每行有10列
                    }

                    $.each(test, function (index, item) {

                        tr += [item.date, item.open, item.close, item.low, item.high, item.volume, 0, 0, 0, 0] + ',';
                        arr[index][0] = item.date;
                        arr[index][1] = item.open;
                        arr[index][2] = item.close;
                        arr[index][3] = item.low;
                        arr[index][4] = item.high;
                        arr[index][5] = item.volume;
                        arr[index][6] = 0;
                        arr[index][7] = 0;
                        arr[index][8] = 0;
                        arr[index][9] = 0;
                        //tr=item.date;
                        //alert(tr);
                    });
                    var tb = [tr];
                    //alert(kdata);
                    //alert(tr);
                    test = kdata;
                    //console.log(arr);
                    // var kChart = echarts.init(document.getElementById('k-content'));
                    kChart.setOption(initKOption(arr));
                    //kChart= echarts.init(document.getElementById('k-content'));

                    //kChart.setOption(initKOption(kdata));
                }
            })};

        var myajax2=function() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8081/api/data/data/"+slice+"/" + a + "/" + default_date,
                data: "",
                dataType: '',
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (msg) {
                    test = msg;
                    //alert(test);

                    var map = {};
                    var arr = new Array(msg.length+1); //表格有10行
                    for (var i = 0; i < arr.length; i++) {
                        arr[i] = new Array(4); //每行有4列
                    }

                    var j = 0;
                    //console.log(msg);
                    $.each(msg, function (index, item) {
                        arr[index][0] = item.time;
                        arr[index][1] = parseFloat(item.current);
                        arr[index][2] = parseFloat(item.average);
                        arr[index][3] = parseFloat(item.volume);
                    });
                    console.log(arr);
                    //var mmdata = {data: arr, "yestclose": arr[0][1]};
                    //console.log(mdata.data);
                    //var md=arr.concat(mdata.data);

                    //console.log(md);

                    var mmdata = {data: arr, "yestclose": arr[0][1]};
                    // var kChart = echarts.init(document.getElementById('k-content'));

                    console.log(arr);
                    mChart.setOption(initMOption(mmdata, 'us'));
                    //mChart.setOption(initMOption(mdata, 'us'));
                    //kChart= echarts.init(document.getElementById('k-content'));


                }
            });
        };
            myajax();
            myajax2();

            $('input[name="birthday"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'),10)
            }, function(start, end, label) {
                // var years = moment().diff(start, 'years');
                // var months = moment().diff(start, 'months');
                // var days = moment().diff(start, 'days');
                default_date=String(start.format('YYYY-MM-DD')).replace(/\-0/g,"-");
                //var da=default_date.replace(/\-0/g,"-");
                //alert(default_date);
               //myajax();
                myajax2();
            });
            $("#search-button").click(function(){

                var content = $.trim($("#search-content").val());
                if(content == ""){
                    alert("请输入内容");
                    return false;
                }
                a = content;
                //alert(a);
                myajax2();
                myajax();

            });

        $("#1Min_btn").click(function(){

            slice=1;
            os=1;
            myajax2();

        });

        $("#5Min_btn").click(function(){

            slice=5;
            os=5;
            myajax2();

        });

        $("#30Min_btn").click(function(){

            slice=30;
            os=30;
            myajax2();


        });


    });
    //kChart.setOption(initKOption(tr));


</script>
<script type="text/javascript">


</script>

<!--<script type="text/javascript">-->
<!--    var upColor = '#00da3c';-->
<!--    var downColor = '#ec0000';-->
<!--    function splitData(rawData){-->
<!--        var categoryData = [];-->
<!--        var values = [];-->
<!--        var volumes = [];-->
<!--        for(var i=0; i < rawData.length; i++){-->
<!--            categoryData.push(rawData[i].splice(0, 1)[0]);-->
<!--            values.push(rawData[i]);-->
<!--            volumes.push([i, rawData[i][4], rawData[i][0] > rawData[i][1] ? 1: -1]);-->
<!--        }-->
<!--        return{-->
<!--            categoryData: categoryData,-->
<!--            values: values,-->
<!--            volumes: volumes-->
<!--        };-->
<!--    }-->
<!--    // 基于准备好的dom，初始化echarts实例-->
<!--    var myChart = echarts.init(document.getElementById("echart1"));-->

<!--    $.get('data.json').done(function(rawdata){-->
<!--        var data = splitData(rawdata);-->
<!--        myChart.setOption(option = {-->
<!--            backgroundColor: '#fff',-->
<!--            animation: false,-->
<!--            legend: {-->
<!--                bottom: 10,-->
<!--                left: 'center',-->
<!--                data: ['Dow-Jones index', 'MA5', 'MA10', 'MA20', 'MA30']-->
<!--            },-->
<!--            tooltip: {-->
<!--                trigger: 'axis',-->
<!--                axisPointer: {-->
<!--                    type: 'cross'-->
<!--                },-->
<!--                backgroundColor: 'rgba(245, 245, 245, 0.8)',-->
<!--                borderWidth: 1,-->
<!--                borderColor: '#ccc',-->
<!--                padding: 10,-->
<!--                textStyle: {-->
<!--                    color: '#000'-->
<!--                },-->
<!--                position: function (pos, params, el, elRect, size) {-->
<!--                    var obj = {top: 10};-->
<!--                    obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;-->
<!--                    return obj;-->
<!--                }-->
<!--                // extraCssText: 'width: 170px'-->
<!--            },-->
<!--            axisPointer: {-->
<!--                link: {xAxisIndex: 'all'},-->
<!--                label: {-->
<!--                    backgroundColor: '#777'-->
<!--                }-->
<!--            },-->
<!--            toolbox: {-->
<!--                feature: {-->
<!--                    dataZoom: {-->
<!--                        yAxisIndex: false-->
<!--                    },-->
<!--                    brush: {-->
<!--                        type: ['lineX', 'clear']-->
<!--                    }-->
<!--                }-->
<!--            },-->
<!--            brush: {-->
<!--                xAxisIndex: 'all',-->
<!--                brushLink: 'all',-->
<!--                outOfBrush: {-->
<!--                    colorAlpha: 0.1-->
<!--                }-->
<!--            },-->
<!--            visualMap: {-->
<!--                show: false,-->
<!--                seriesIndex: 5,-->
<!--                dimension: 2,-->
<!--                pieces: [{-->
<!--                    value: 1,-->
<!--                    color: downColor-->
<!--                }, {-->
<!--                    value: -1,-->
<!--                    color: upColor-->
<!--                }]-->
<!--            },-->
<!--            grid: [-->
<!--                {-->
<!--                    left: '10%',-->
<!--                    right: '8%',-->
<!--                    height: '50%'-->
<!--                },-->
<!--                {-->
<!--                    left: '10%',-->
<!--                    right: '8%',-->
<!--                    top: '63%',-->
<!--                    height: '16%'-->
<!--                }-->
<!--            ],-->
<!--            xAxis: [-->
<!--                {-->
<!--                    type: 'category',-->
<!--                    data: data.categoryData,-->
<!--                    scale: true,-->
<!--                    boundaryGap : false,-->
<!--                    axisLine: {onZero: false},-->
<!--                    splitLine: {show: false},-->
<!--                    splitNumber: 20,-->
<!--                    min: 'dataMin',-->
<!--                    max: 'dataMax',-->
<!--                    axisPointer: {-->
<!--                        z: 100-->
<!--                    }-->
<!--                },-->
<!--                {-->
<!--                    type: 'category',-->
<!--                    gridIndex: 1,-->
<!--                    data: data.categoryData,-->
<!--                    scale: true,-->
<!--                    boundaryGap : false,-->
<!--                    axisLine: {onZero: false},-->
<!--                    axisTick: {show: false},-->
<!--                    splitLine: {show: false},-->
<!--                    axisLabel: {show: false},-->
<!--                    splitNumber: 20,-->
<!--                    min: 'dataMin',-->
<!--                    max: 'dataMax'-->
<!--                }-->
<!--            ],-->
<!--            yAxis: [-->
<!--                {-->
<!--                    scale: true,-->
<!--                    splitArea: {-->
<!--                        show: true-->
<!--                    }-->
<!--                },-->
<!--                {-->
<!--                    scale: true,-->
<!--                    gridIndex: 1,-->
<!--                    splitNumber: 2,-->
<!--                    axisLabel: {show: false},-->
<!--                    axisLine: {show: false},-->
<!--                    axisTick: {show: false},-->
<!--                    splitLine: {show: false}-->
<!--                }-->
<!--            ],-->
<!--            dataZoom: [-->
<!--                {-->
<!--                    type: 'inside',-->
<!--                    xAxisIndex: [0, 1],-->
<!--                    start: 98,-->
<!--                    end: 100-->
<!--                },-->
<!--                {-->
<!--                    show: true,-->
<!--                    xAxisIndex: [0, 1],-->
<!--                    type: 'slider',-->
<!--                    top: '85%',-->
<!--                    start: 98,-->
<!--                    end: 100-->
<!--                }-->
<!--            ],-->
<!--            series: [-->
<!--                {-->
<!--                    name: 'Dow-Jones index',-->
<!--                    type: 'candlestick',-->
<!--                    data: data.values,-->
<!--                    itemStyle: {-->
<!--                        normal: {-->
<!--                            color: upColor,-->
<!--                            color0: downColor,-->
<!--                            borderColor: null,-->
<!--                            borderColor0: null-->
<!--                        }-->
<!--                    },-->
<!--                    tooltip: {-->
<!--                        formatter: function (param) {-->
<!--                            param = param[0];-->
<!--                            return [-->
<!--                                'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',-->
<!--                                'Open: ' + param.data[0] + '<br/>',-->
<!--                                'Close: ' + param.data[1] + '<br/>',-->
<!--                                'Lowest: ' + param.data[2] + '<br/>',-->
<!--                                'Highest: ' + param.data[3] + '<br/>'-->
<!--                            ].join('');-->
<!--                        }-->
<!--                    }-->
<!--                },-->
<!--                {-->
<!--                    name: 'MA5',-->
<!--                    type: 'line',-->
<!--                    data: calculateMA(5, data),-->
<!--                    smooth: true,-->
<!--                    lineStyle: {-->
<!--                        normal: {opacity: 0.5}-->
<!--                    }-->
<!--                },-->
<!--                {-->
<!--                    name: 'MA10',-->
<!--                    type: 'line',-->
<!--                    data: calculateMA(10, data),-->
<!--                    smooth: true,-->
<!--                    lineStyle: {-->
<!--                        normal: {opacity: 0.5}-->
<!--                    }-->
<!--                },-->
<!--                {-->
<!--                    name: 'MA20',-->
<!--                    type: 'line',-->
<!--                    data: calculateMA(20, data),-->
<!--                    smooth: true,-->
<!--                    lineStyle: {-->
<!--                        normal: {opacity: 0.5}-->
<!--                    }-->
<!--                },-->
<!--                {-->
<!--                    name: 'MA30',-->
<!--                    type: 'line',-->
<!--                    data: calculateMA(30, data),-->
<!--                    smooth: true,-->
<!--                    lineStyle: {-->
<!--                        normal: {opacity: 0.5}-->
<!--                    }-->
<!--                },-->
<!--                {-->
<!--                    name: 'Volume',-->
<!--                    type: 'bar',-->
<!--                    xAxisIndex: 1,-->
<!--                    yAxisIndex: 1,-->
<!--                    data: data.volumes-->
<!--                }-->
<!--            ]-->
<!--        }, true);-->
<!--        myChart.dispatchAction({-->
<!--            type: 'brush',-->
<!--            areas: [-->
<!--                {-->
<!--                    brushType: 'lineX',-->
<!--                    coordRange: ['2016-06-02', '2016-06-20'],-->
<!--                    xAxisIndex: 0-->
<!--                }-->
<!--            ]-->
<!--        });-->

<!--    })-->
<!--</script>-->
<!--script-->
<!-- jQuery -->
<script type="text/javascript" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<script type="text/javascript" th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!--<script type="text/javascript" th:src="@{/vendors/echarts/dist/echarts.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/vendors/echarts/map/js/world.js}"></script>-->

<!-- Custom Theme Scripts -->
<script type="text/javascript" th:src="@{/build/js/custom.min.js}"></script>
<script type="text/javascript">


</script>
</body>
</html>
